<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cloud File Locker</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <div class="container">

        <h1>☁️ Cloud File Locker</h1>

        <p>
            Store your important files securely in the cloud.
        </p>

        <div class="buttons">
            <a href="/login" class="btn">Login</a>

            <a href="/register" class="btn">Register</a>
        </div>

    </div>

</body>
</html>